<template>
<h1>buycar</h1>
<h1>购物车商品数量 {{store.state.count}}</h1>
<h1>购物车商品总价 {{store.getters.totalPrice}}</h1>
<button @click="addProduct">数量+3</button>
<button @click="addProductAsync">异步数量+4</button>
<a-button type="primary">Primary Button</a-button>
</template>

<script setup>
import { useStore } from 'vuex';

let store = useStore();

function addProduct() {
    store.commit('increment',3);
}
function addProductAsync() {
    store.dispatch('asyncAdd',4)
}
</script>
