<template>
    <!--
        内置使用加载组件：
        1.设置两个插槽，数据加载前fallback 数据加载后default,
        2.配合异步组件使用
     -->
    <suspense>
        <template #fallback>
          <Loading/>
        </template>

        <template #default>
            <HomePageAsync />
        </template>
    </suspense>
</template>

<script setup>
import { onMounted, defineAsyncComponent } from "vue";
import Loading from '../components/Loading.vue';
const HomePageAsync = defineAsyncComponent(() => import("../components/HomePageAsync.vue"));

onMounted(async () => {});
</script>
