<template>
    <div class="loading" v-show="data.isLoading">
        <LoadingVue :progress="data.progress"></LoadingVue>
    </div>
    <div class="product" v-show="!data.isLoading" id="product">
        <div class="desc" v-if="data.product[data.pIndex]" v-for="(desc, i) in data.product[data.pIndex].desc" :class="{ active: data.descIndex == i }">
            <h1 class="title">{{ desc.title }}</h1>
            <p class="content">{{ desc.content }}</p>
        </div>
        <div class="prod-list" :class="{ hidden: store.state.isFullscreen }">
            <h1><SketchOutlined></SketchOutlined>产品推荐</h1>
            <div class="products">
                <div class="prod-item" :class="{ active: pI == data.pIndex }" v-for="(prod, pI) in data.product" @click="changeModel(prod, pI)">
                    <div class="prod-title">
                        {{ prod.title }}
                    </div>
                    <div class="img">
                        <img :src="prod.imgsrc" :alt="prod.title" />
                    </div>
                    <!-- stop修饰符，不冒泡触发changeModel事件 -->
                    <a-button type="primary" block @click.stop="addBuycart(prod)">
                        <template #icon>
                            <ShoppingCartOutlined></ShoppingCartOutlined>
                        </template>
                        加入购物车
                    </a-button>
                </div>
            </div>
        </div>
        <div class="scene-list" :class="{ hidden: store.state.isFullscreen }">
            <h3><RadarChartOutlined></RadarChartOutlined>切换使用场景</h3>
            <div class="scenes">
                <div class="scenes-item" v-for="(scene, index) in data.scenes" @click="changeHdr(scene, index)">
                    <img :src="`./files/hdr/${scene}.jpg`" :alt="scene" :class="{ active: index == data.sceneIndex }" />
                </div>
            </div>
        </div>
    </div>
</template>

<script setup>
import { useRoute } from "vue-router";
import { onMounted, reactive } from "vue";
import * as api from "../api/index.js";
import { SketchOutlined, RadarChartOutlined, ShoppingCartOutlined } from "@ant-design/icons-vue";
import LoadingVue from "../components/Loading.vue";
import { useStore } from "vuex";
import Base3d from "../util/Base3d.js";
const route = useRoute();
const store = useStore(); // 初始化

const data = reactive({
    product: [],
    isLoading: true,
    scenes: [],
    pIndex: 0,
    sceneIndex: 0,
    base3d: {},
    descIndex: 0,
    progress: 0
});
function LoadingFinish() {
    data.isLoading = false;
}
onMounted(async () => {
    const result = await api.getProdects();
    // data.isLoading = false;
    data.product = result.list;
    data.scenes = result.hdr;
    // 渲染三维模型
    data.base3d = new Base3d("#product", LoadingFinish);
    data.base3d.onProgress((e) => {
        let progressNum = e.loaded / e.total;
        progressNum = progressNum.toFixed(2) * 100;
        data.progress = progressNum;
    });
});

// 监听鼠标滚动 mousewheel 注意大小写
window.addEventListener("mousewheel", (e) => {
    if (e.deltaY > 0) {
        store.commit("setFullscreen", true);
    } else {
        store.commit("setFullscreen", false);
    }
});

function changeModel(prod, pI) {
    data.pIndex = pI;
    data.base3d.setModel(prod.modelName);
}
function changeHdr(scene, index) {
    data.sceneIndex = index;
    data.base3d.setEnvMap(scene);
}
function addBuycart(prod) {
    let product = { ...prod, num: 1 };
    let index = 0;
    // 校验重复加入购物车
    let isExist = store.state.buycarts.some((item, i) => {
        if (product.id == item.id) {
            index = i;
            return true;
        } else {
            return false;
        }
    });
    if (isExist) {
        store.commit("addBuycartsNum", index);
    } else {
        store.commit("addBuycarts", product);
    }
}

window.addEventListener("mousewheel", (e) => {
    let duration = data.base3d.animateAction._clip.duration; // 总时长
    let time = data.base3d.animateAction.time;
    let index = Math.floor((time / duration) * 4);
    data.descIndex = index;
});
</script>

<style>
.desc {
    position: fixed;
    z-index: 100000;
    background-color: rgba(255, 255, 255, 0.5);
    width: 600px;
    top: 100px;
    left: 50%;
    margin-left: -300px;
    transition: all 0.5s;

    transform: translate(-100vw, 0);
    padding: 15px;
}
.desc.active {
    transform: translate(0, 0);
}
.prod-list {
    width: 300px;
    height: 100vh;
    padding: 65px 0 0;
    position: fixed;
    z-index: 100;
    transition: all 0.5s;
    background-color: rgba(255, 255, 255, 0.8);
    left: 0;
    top: 0;
}
.prod-list h1 {
    font-size: 20px;
    font-weight: 900;
    padding: 10px 25px 0;
}
.prod-list .products {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.prod-list .products .prod-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 250px;
    background-color: #fff;
    border-radius: 20px;
    overflow: hidden;
    margin: 10px 0;
    box-shadow: 5px 5px 10px #666;
    transition: all 0.3s;
}
.prod-list .products .prod-item.active {
    box-shadow: 5px 5px 10px #666, 0 0 20px red;
}
.prod-list .products .prod-item:hover {
    transform: translate(0px, -5px);
    box-shadow: 5px 5px 10px #666, 0 0 20px orangered;
}
.prod-list .products .prod-item img {
    width: 190px;
}
.prod-list .products .prod-item .prod-title {
    padding: 0 20px;
}
.prod-list.hidden {
    /* 水平垂直 */
    transform: translate(-100%, 0);
}
.scene-list {
    width: 300px;
    height: 100vh;
    padding: 65px 0 0;
    position: fixed;
    z-index: 100;
    transition: all 0.5s;
    background-color: rgba(255, 255, 255, 0.8);
    right: 0;
    top: 0;
}
.scene-list h3 {
    font-size: 20px;
    font-weight: 900;
    padding: 0 30px;
}
.scene-list .scenes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.scene-list .scenes-item {
    padding: 6px 0;
}
.scene-list .scenes-item img {
    width: 250px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px #666;
    transition: all 0.3s;
}
.scene-list .scenes-item img.active {
    box-shadow: 5px 5px 10px #666, 0 0 20px red;
}
.scene-list .scenes-item img:hover {
    transform: translate(0px, -5px);
    box-shadow: 5px 5px 10px #666, 0 0 20px orangered;
}
.scene-list.hidden {
    /* 水平垂直 */
    transform: translate(100%, 0);
}
</style>
