<template>
    <div class="header" :class="{ hidden: store.state.isFullscreen }">
        <div class="logo" @click="router.push('/')">
            <span>JYF沉浸式商城</span>
        </div>
        <a-input-search v-model:value="data.value" placeholder="搜索商品或商品号" class="input-search" @search="onSearch" />
        <a-menu v-model:selectedKeys="data.current" mode="horizontal" style="border: none; margin-top: 10px">
            <a-menu-item key="help">
                <template #icon>
                    <question-circle-outlined />
                </template>
                帮助
            </a-menu-item>

            <a-menu-item key="salesroom" @click="router.push('/room')">
                <template #icon>
                    <ShopOutlined />
                </template>
                门店
            </a-menu-item>

            <a-sub-menu key="account">
                <template #icon>
                    <UserOutlined />
                </template>
                <template #title>账户</template>
            </a-sub-menu>

            <a-sub-menu key="buycar">
                <template #icon>
                    <CarOutlined />
                </template>
                <template #title>购物车</template>
                <a-menu-item-group title="购物商品">
                    <a-menu-item v-for="(item, i) in store.state.buycarts" :key="item.id">
                        <div class="prod-item">
                            <div class="left">
                                <img :src="item.imgsrc" :alt="item.title" />
                            </div>
                            <div class="middle">
                                <div class="title">{{ item.title }}</div>
                                <div class="content">
                                    <span class="num">数量：{{ item.num }}</span>
                                    <div class="control">
                                        <span class="btn" @click.stop="store.commit('addBuycartsNum', i)">+</span>
                                        <span class="btn" @click.stop="store.commit('minuBuycartsNum', i)">-</span>
                                    </div>
                                </div>
                            </div>
                            <div class="right">
                                <div class="price">¥ {{ item.price * item.num }}</div>
                            </div>
                        </div>
                    </a-menu-item>
                    <a-menu-item key="totalPrice">
                        <div class="total">
                            <span>总价：</span>
                            <span class="num"> ¥ {{ store.getters.totalPrice }}</span>
                        </div>
                    </a-menu-item>
                </a-menu-item-group>
            </a-sub-menu>
        </a-menu>
    </div>
</template>

<script setup>
import { useRoute, useRouter } from "vue-router";
import { QuestionCircleOutlined, ShopOutlined, UserOutlined, CarOutlined } from "@ant-design/icons-vue";
import { reactive } from "vue";
import { useStore } from "vuex";
const store = useStore();
const router = useRouter();
const data = reactive({
    value: "",
    current: ["help"]
});
const onSearch = () => {};
</script>

<style scoped>
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 1000;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 0 10px #ccc;
    padding-bottom: 10px;
    transition: all 0.5s;
}
.header.hidden {
    transform: translate(0, -100%);
}
.logo {
    width: 200px;
    height: 30px;
    font-size: 28px;
}
.input-search {
    display: flex;
    flex: 1;
    height: 40px;
    align-items: center;
    margin-top: 10px;
}
</style>
