<template>
    <h1 @click="sendRead()">
        <span>{{props.num}}</span>
        <span> ---- </span>
        <span>{{props.title}}</span>
        <span @click="cancle()">取消</span>
    </h1>
</template>

<script setup>
import { defineProps, defineEmits } from 'vue';

const props = defineProps({
    num: Number,
    title: String,
})

const emit = defineEmits(['finishRead','reading'])
function sendRead() {
    emit('finishRead','子传参');
}
function cancle() {
    emit('reading')
}
</script>
